// Place all the styles related to the Incidents controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.centerbox
{
margin-left: 20%;
margin-right: 20%;
//background: #dddddd;
//border-radius: 10px;
}
div.showincident
{
margin-left: 30%;
margin-right: 30%;
}
div.editincident
{
margin-left: 30%;
margin-right: 30%;
}
